<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/main.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://unpkg.com/vue@next"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>NSYSU Campus Bus</title>
</head>
<body>
    <div id="app"></div>
    <script>
    const stopNameList = {
        "Administration Square":{"tw":"行政大樓","cn":"行政大楼","en":"Administration Building","jp":"行政棟"},
        "Administration Building":{"tw":"行政大樓","cn":"行政大楼","en":"Administration Building","jp":"行政棟"},
        "Dorm H":{"tw":"H棟宿舍","cn":"H栋宿舍","en":"H Dormitory","jp":"H ドーミトリー"},
        "H Dormitory":{"tw":"H棟宿舍","cn":"H栋宿舍","en":"H Dormitory","jp":"H ドーミトリー"},
        "Activity Center":{"tw":"活動中心","cn":"活动中心","en":"Activity Center","jp":"アクティビティセンター"},
        "Wuling Road":{"tw":"武嶺路口","cn":"武岭路口","en":"Wuling Road","jp":"武嶺交差点"},
        "College of Liberal Arts":{"tw":"文學院","cn":"文学院","en":"College of Liberal Arts","jp":"文学院"},
        "MRT Sizihwan Station (LRT Hamasen Station)":{"tw":"捷運西子灣站 (輕軌哈瑪星站)","cn":"捷运西子湾站(轻轨哈玛星站)","en":"MRT Sihziwan Station (LRT Hamasen Station)","jp":"MRT西子湾駅(LRT哈瑪星駅)"},
        "未行駛":{"tw":"未行駛","cn":"未行驶","en":"Not in service","jp":"運休"},
    };
        const app = Vue.createApp({
            template: '<app-title :title-lang="lang_code" /><app-content :app-lang="lang_code" :current-page="current_page" @changeLang="changeLang" /><app-navigator :nav-lang="lang_code" @changePage="changePage" />',
            data(){
                return {
                    current_page: 0,
                    lang_code: "tw"
                }
            },
            methods:{
                changeLang(val){
                    this.lang_code=val;
                },
                changePage(val){
                    this.current_page=val;
                }
            }
        });
        app.component('app-title',{
            template: '<div class="banner shadow"><div id="title">{{title}}</div></div>',
            data(){
                return {
                    title : ""
                }
            },
            props: ['titleLang'],
            methods:{
                getLang(){
                    var titleList = {"tw":"校園公車資訊","cn":"校园公交信息","en":"Campus Bus Information","jp":"学内連絡バスインフォ"};
                    this.title = titleList[this.titleLang];
                }
            },
            beforeMount(){
                this.getLang();
            },
            beforeUpdate(){
                this.getLang();
            }
        });
        app.component('app-content',{
            template: '<div id="content_box"><div id="header">{{current_page}}</div><campus-bus-list v-if="current_page===0" v-for="i in campus_len"  :campus-data="campus_list[i-1]" /><city-bus-list v-if="current_page===1 && (app_lang==\'tw\' || app_lang==\'cn\')" v-for="i in city_len"  :city-data="city_list_ch[i-1]" /><city-bus-list v-if="current_page===1 && (app_lang==\'en\' || app_lang==\'jp\')" v-for="i in city_len"  :city-data="city_list_en[i-1]" /><settings v-if="current_page===3" :app-lang="app_lang" @changeLang="changeLang" /><div id="footer"></div></div>',
            data(){
                return {
                    current_page: 0,
                    app_lang: this.appLang,
                    campus_len: 0,
                    campus_list: [],
                    city_list_ch: [],
                    city_len: 0,
                    city_list_en: [],
                }
            },
            props: ["appLang","currentPage"],
            methods: {
                fetchStatus(){
                    this.current_page = this.currentPage;
                    this.app_lang = this.appLang;
                },
                fetchCampus(){
                    var _this = this, i;
                    $.getJSON("https://ibus.nsysu.edu.tw/API/RoutePath.aspx?"+Date.now()+"&C=en&T=SC",function(data){
                        var nameList = {"tw": "校","cn": "校","en": "Campus","jp": "Campus"};
                        for(i=0; i<data.length; i++){
                            data[i].DepartureEn = stopNameList[data[i].DepartureEn][_this.appLang];
                            data[i].DestinationEn = stopNameList[data[i].DestinationEn][_this.appLang];
                            data[i].StopName = stopNameList[data[i].StopName][_this.appLang];
                            data[i].NameEn = nameList[_this.appLang]+" "+data[i].RouteID;
                        }
                        _this.campus_list = data;
                        _this.campus_len = data.length;
                    });
                },
                fetchCity(){
                    var _this = this, i;
                    $.getJSON("https://ibus.nsysu.edu.tw/API/RoutePath.aspx?"+Date.now()+"&T=CT",function(data){
                        var newList={};
                        for(i=0; i<data.length; i++){
                            newList[i]={};
                            newList[i]["dept"] = data[i].Departure;
                            newList[i]["dest"] = data[i].Destination;
                            newList[i]["name"] = data[i].Name;
                        }
                        _this.city_list_ch = newList;
                        _this.city_len = data.length;
                    });
                    $.getJSON("https://ibus.nsysu.edu.tw/API/RoutePath.aspx?"+Date.now()+"&C=en&T=CT",function(data){
                        var newList={};
                        for(i=0; i<data.length; i++){
                            newList[i]={};
                            newList[i]["dept"] = data[i].DepartureEn;
                            newList[i]["dest"] = data[i].DestinationEn;
                            newList[i]["name"] = data[i].NameEn;
                        }
                        _this.city_list_en = newList;
                    });
                },
                fetchData(){
                    this.fetchStatus();
                    this.fetchCampus();
                    this.fetchCity();
                },
                changeLang(val){
                    this.$emit("changeLang",val);
                }
            },
            created(){
                this.fetchData();
            },
            beforeUpdate(){
                this.fetchStatus();
            },
            updated(){
                if(this.current_page==0){
                    this.fetchCampus();
                }else{
                    this.fetchCity();
                }
            },
            components: {
                'campus-bus-list': {
                    template:'<div class="campus_list shadow"><table style="width: 100%"><tr><td rowspan="2" style="width: 150px"><span class="campus_list_name">{{campusData.NameEn}}</span></td><td><span class="campus_list_dept">{{campusData.DepartureEn}}</span><span class="campus_list_arrow"><span class="material-icons">arrow_forward</span></span><span class="campus_list_dest">{{campusData.DestinationEn}}</span><br v-if="campusData.CarID!=\'\' "><span class="campus_list_plate">{{campusData.CarID}}</span></td></tr><tr><td><span class="campus_list_stop" :class="{reded: campusData.StopName==\'未行駛\'?true:false}">{{campusData.StopName}}</span></td></tr></table></div>',
                    props:["campusData"],
                },
                'city-bus-list': {
                    template:'<div class="campus_list shadow"><table style="width: 100%"><tr><td style="width: 150px"><span class="campus_list_name">{{cityData.name}}</span></td><td><span class="campus_list_dept">{{cityData.dept}}</span><span class="campus_list_arrow"><span class="material-icons">arrow_forward</span></span><span class="campus_list_dest">{{cityData.dest}}</span></td></tr></table></div>',
                    props:["cityData"],
                },
                'settings': {
                    template: '<div class="settings_box shadow"><h3>語言 Language</h3><select v-model="language" @change="changeLang"><option value="tw">繁體</option><option value="cn">简体</option><option value="en">English</option><option value="jp">日本語</option></select></div>',
                    props:["appLang"],
                    data(){
                        return {
                            language: this.appLang
                        }
                    },
                    methods: {
                        changeLang(){
                            this.$emit("changeLang",this.language);
                        }
                    }
                }
            }
        });
        app.component('app-navigator',{
            template :'<div class="navigator shadow"><a href="" @click.stop.prevent="changePage(0)"><span class="material-icons">school</span><br>{{campus}}</a><a href="" @click.stop.prevent="changePage(1)"><span class="material-icons">directions_bus</span><br>{{city}}</a><a href="" @click.stop.prevent="changePage(2)"><span class="material-icons">departure_board</span><br>{{timetable}}</a><a href="" @click.stop.prevent="changePage(3)"><span class="material-icons">settings</span><br>{{settings}}</a></div>',
            data(){
                return {
                    campus: "",
                    city: "",
                    timetable: "",
                    settings: ""
                }
            },
            props: ['navLang'],
            methods: {
                getLang(){
                    const campusButton = {"tw": "校園公車","cn": "校园公交","en": "Campus Bus","jp": "学内連絡バス"};
                    const cityButton = {"tw": "市區公車","cn": "市区公交","en": "City Bus","jp": "市内バス"};
                    const timetableButton = {"tw": "時刻表","cn": "时刻表","en": "Timetable","jp": "時刻表"};
                    const settingsButton = {"tw": "設定","cn": "设置","en": "Settings","jp": "設定"};
                    this.campus = campusButton[this.navLang];
                    this.city = cityButton[this.navLang];
                    this.timetable = timetableButton[this.navLang];
                    this.settings = settingsButton[this.navLang];
                },
                changePage(page){
                    this.$emit("changePage",page);
                }
            },
            beforeMount(){
                this.getLang();
            },
            beforeUpdate(){
                this.getLang();
            }
        });
        app.mount('#app');
        $("#header").height($(".banner").outerHeight());
        $("#footer").height($(".navigator").outerHeight());
    </script>
</body>
</html>